body {
  background-color:#f8f8f8;
  color:#333333;
  font-family:'Poppins',sans-serif;
  text-align:center;
  margin:20px;
}
h1{font-weight:700;margin-bottom:10px;}
.poster-grid{display:flex;justify-content:center;gap:20px;flex-wrap:wrap;margin-top:20px;}
.poster-grid img{width:180px;height:260px;object-fit:cover;border-radius:12px;background-color:#ccc;box-shadow:0 4px 8px rgba(0,0,0,0.3);}
nav{background-color:#333333;padding:10px;border-radius:10px;}
nav a{color:white;text-decoration:none;margin:0 10px;font-weight:500;}
nav a:hover{text-decoration:underline;}
